body {
    margin: auto 0;
    font-family: 'Hind Vadodara', sans-serif;
}

.block {
    border-radius:4px;
    border:1px solid rgb(75, 75, 75);
    margin: 15px 15px;
    width: 30rem;
}

.scoring-block {
    border-radius:4px;
    border:1px solid rgb(75, 75, 75);
    margin: 15px 15px;
    width: 40rem;
}

.block-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }

    .block {
        width: 25rem;
    }

    .scoring-block {
        width: 25rem;
    }

    .block-wrapper{
        padding-top: 80px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #00B2FF, white);
    opacity: .95;
}

.secondary-header {
    display: flex;
    list-style: none;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.footer {
    display: flex;
    display: flex;
    list-style: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: #00B2FF;
    opacity: .3;
}

.breaker {
    height: 40px;
}

.stick-top {
    position: fixed;
    top: 0;
    width: 100%;
  }

.stick-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}



h1 {
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    font-family: 'Jura', sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

h4 {
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 0px 15px;
}


.inner {
    margin-left: 15px;
    margin-right: 15px;
}

.credits {
    margin: 15px 20px;
}

.fix-upper {
    margin-top: 0px;
}

.fix-lower {
    margin-bottom: 0px;
}

.one {
    display: flex;
}

.four {
    display: flex;
}

.five {
    display: flex;
}

.six {
    display: flex;
}

.push {
    margin-left: auto;
}

img {
    cursor:pointer;
}