body {
    margin: auto 0;
    font-family: 'Hind Vadodara', sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }
}

.main-header {
    display: flex;
    list-style: none;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #0067AC;
}

.secondary-header {
    display: flex;
    list-style: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #71B4E1;
}

.footer {
    display: flex;
    display: flex;
    list-style: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #CDCDCD;
}

.block {
    border-radius:4px;
    border:1px solid rgb(75, 75, 75);
    margin: 15px 15px;
}

h1 {
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 17px;
    margin-bottom: 17px;
}

h2 {
    font-size: 1.2em;
    font-family: 'Jura', sans-serif;
}

h4 {
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 13px;
    margin-bottom: 13px;
}


.inner {
    margin-left: 15px;
    margin-right: 15px;
}

.credits {
    margin: 15px 20px;
}

.fix-upper {
    margin-top: 0px;
}

.fix-lower {
    margin-bottom: 0px;
}

.one {
    display: flex;
}

.four {
    display: flex;
}

.five {
    display: flex;
}

.six {
    display: flex;
}

.push {
    margin-left: auto;
}