body {
    margin: auto 0;
    font-family: 'Hind Vadodara', sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }
}

.main-header {
    display: flex;
    list-style: none;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #0067AC;
}

.secondary-header {
    display: flex;
    list-style: none;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #71B4E1;
}

.footer {
    display: flex;
    display: flex;
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #CDCDCD;
}

h1 {
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 17px;
    margin-bottom: 17px;
}

h4 {
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 13px;
    margin-bottom: 13px;
}

.credits {
    margin: 15px 20px;
}

@media only screen and (max-width: 800px) {
    .main-nav {
        font-size: 0.5em;
    }
}