body {
    margin: auto 0;
    font-family: 'Hind Vadodara', sans-serif;
}

.block-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
}

.block {
    border-radius:4px;
    border:1px solid rgb(75, 75, 75);
    margin: 15px 15px;
    /*width: 40rem;*/
    width: 40%;
}

.scoring-block {
    border-radius:4px;
    border:1px solid rgb(75, 75, 75);
    margin: 15px 15px;
    width: 50%;
}

.score-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.smaller-text {
    font-size: 0.8em;
}

.header {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #00B2FF, white);
    opacity: .95;
}

.secondary-header {
    display: flex;
    list-style: none;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.footer {
    display: flex;
    display: flex;
    list-style: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: #00B2FF;
    opacity: .3;
}

h1 {
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    font-family: 'Jura', sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

h4 {
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 0px 15px;
}

@media only screen and (max-width: 1000px) {
    .block-wrapper{
        padding-top: 110px;
    }

    .score-block-wrapper{
        padding-top: 110px;
    }

    .block {
        width: 90%;
    }

    .scoring-block {
        width: 90%;
    }

    .smaller text {
        font-size: 2em;
    }

    input[type="text"] {
        width: 150px;
    }

    input[type="number"] {
        width: 100px;
    }

    .secondary-header {
        font-size: large;
    }

    p {
        font-size: x-large;
    }
    
    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: x-large;
    }

    h4 {
        font-size: x-large;
    }
}

.breaker {
    height: 40px;
}

.stick-top {
    position: fixed;
    top: 0;
    width: 100%;
  }

.stick-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.greyed-out {
    color: rgb(105, 105, 105);
    overflow-wrap: normal;
    margin-bottom: 0px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    margin-left: 15px;
    margin-right: 15px;
}

.credits {
    margin: 15px 20px;
}

.fix-upper {
    margin-top: 0px;
}

.fix-lower {
    margin-bottom: 0px;
}

.one {
    display: flex;
}

.two {
    display: flex;
}

.three {
    display: flex;
}

.four {
    display: flex;
}

.five {
    display: flex;
}

.six {
    display: flex;
}

.push {
    margin-left: auto;
}

img {
    cursor:pointer;
}

button {
    margin: 15px 0px;
}